name: CI
on:
  schedule:
    - cron: '0 0 * * *'
  push:
  pull_request:
jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php: ['8.0', '8.1', '8.2']
        doctrine: ['2.11', '2.12', '2.13', '2.14']
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=E_ALL
          tools: phpunit, git
          coverage: xdebug
      - name: Install dependencies for doctrine/orm ${{ matrix.doctrine }}
        run: composer require --no-progress --no-scripts --no-plugins -v -W doctrine/orm "~${{ matrix.doctrine }}.0"
      - name: PHPUnit
        run: vendor/bin/phpunit --coverage-clover=coverage.xml --coverage-text
      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
